@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style-type: none;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.container-header_logo {
    color: #F9FAF8;
    font-size: 24px;
}

.container-header_nav{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.container-presentation {
    display: flex;
    gap: 48px;
    margin: 133px 0;
}

.container-presentation_title {
    max-width: 460px;
}

.container-presentation_title p {
    margin-bottom: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.container-presentation_title a {
    display: inline-block;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 8px 36px;
}

.container-presentation_img {
    background-color: grey;
    color: #F9FAF8;
    min-width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;  
    justify-content: center;
    width: 100%;
}

.info-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 56px 0;
}

.info-imgs {
    display: flex;
    gap: 48px;
    text-align: center;
}

.info-imgs_img {
    width: 156px;
    margin-bottom: 112px;
}

.img {
    color: #F9FAF8;
    border: 3px solid #3882F6;
    border-radius: 15px;
    height: 160px;
    margin-bottom: 8px;
}

.quote {
    width: 100%;
    background-color: #E5E7EB;
}

.quote .container {
    max-width: 768px;
    margin: 112px auto 74px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    margin-left: auto;
    font-weight: 700;
}

.action {
    display: flex;
    align-items: flex-end;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 112px auto;
    padding: 56px 112px;
    gap: 112px;
    border-radius: 10px;
}

.action a {
    padding: 8px 36px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    flex-shrink: 0;
}
